In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [5]:
df = pd.read_csv('../data/datlas.csv')

In [8]:
df.head()

,"FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DAÑO VEHICULO,PUNTO DE IMPACTO,AÑO,MES,DÍA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE",Unnamed: 1,Unnamed: 2
0,"D00001,22.7685068,-102.5678956,98000,*EP 2 Bou...",NaN,NaN
1,"D00002,25.6473508,-100.1401324,67277,AMERICA 6...",NaN,NaN
2,"D00003,20.6799172,-103.3686565,44600,AV MEXICO...",NaN,NaN
3,"D00004,25.7180268,-100.2499903,66480,Avenida C...",NaN,NaN
4,"D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajim...",NaN,NaN

### Reformatting data

In [10]:

df1 = pd.DataFrame([ x.split(',') for x in df['FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DAÑO VEHICULO,PUNTO DE IMPACTO,AÑO,MES,DÍA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE'].tolist() ])

In [11]:
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,D00001,22.7685068,-102.5678956,98000,*EP 2 Boulevard Adolfo López Mateos,CERRADA DE CASA BLANCA,COLISION Y/O VUELCO,Camión,BLANCO,2016,Bajo,NA,2018,1,11,JUEVES,15,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,11/01/2018
1,D00002,25.6473508,-100.1401324,67277,AMERICA 65,BALCONES DE ZINDARO,COLISION Y/O VUELCO,Camión,BLANCO,2009,Sin daño,Costado izq trasero,2018,1,25,JUEVES,10,NUEVO LEÓN,JUAREZ,25/01/2018
2,D00003,20.6799172,-103.3686565,44600,AV MEXICO,2 RIOS,COLISION Y/O VUELCO,Auto,BLANCO,2005,Sin daño,Trasero,2018,1,15,LUNES,9,NUEVO LEÓN,GUADALUPE,15/01/2018
3,D00004,25.7180268,-100.2499903,66480,Avenida Conductores,Conductores Infonavit,COLISION Y/O VUELCO,Auto,GRIS,2016,Sin daño,Frontal,2018,1,19,VIERNES,9,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,19/01/2018
4,D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajimalpa,HUELGAS Y ALBOROTOS,Auto,NEGRO,2016,Medio,NA,2018,1,3,MIERCOLES,16,NUEVO LEÓN,MONTERREY,03/01/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116006,D116012,25.7459303,-100.3601517,64330,tlatelolco,unidad habitacional morelos,COLISION Y/O VUELCO,Auto,vino /dora,2003,Sin daño,Costado der trasero,2016,12,29,JUEVES,19,NUEVO LEÓN,MONTERREY,29/12/2016
116007,D116013,25.6589181,-100.371243,66220,RIO DE LA PLATA 565,del Valle,COLISION Y/O VUELCO,Auto,AZUL,2006,Sin daño,Cofre,2016,1,30,SABADO,15,NUEVO LEÓN,GARZA GARCIA,30/01/2016
116008,D116014,25.7683457,-102.9855043,27810,AVESTRUZ 1111,VALLE DE SANTO DOMINGO,COLISION Y/O VUELCO,Auto,NEGRO,0,\N,,2016,6,24,VIERNES,17,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,24/06/2016
116009,D116015,17.9530855,-93.0258556,86283,Calle Modesto Arreola Ote,Buena Vista Río Nuevo 2da Secc,COLISION Y/O VUELCO,Auto,GRIS,0,\N,,2016,8,12,VIERNES,18,NUEVO LEÓN,MONTERREY,12/08/2016
116010,D116016,25.6926697,-100.2453149,67130,Avenida Las Américas,América,COLISION Y/O VUELCO,Camión,Mod 2015,2012,Sin daño,Trasero,2016,12,24,SABADO,19,NUEVO LEÓN,GUADALUPE,24/12/2016

In [22]:
df1 = df1.rename(columns={0: "FOLIO_ID", 1: "LAT", 2: "LONG", 3: "CODIGO POSTAL", 4: "CALLE", 5: "COLONIA", 6: "CAUSA SINIESTRO", 7: "TIPO VEHICULO", 8: "COLOR", 9: "MODELO_VEHICULO", 10: "NIVEL DANO VEHICULO", 11: "PUNTO DE IMPACTO", 12: "ANO", 13: "MES", 14: "DIA NUMERO", 15: "DIA", 16: "HORA", 17: "ESTADO", 18: "CIUDAD_APROXIMADA", 19: "DATE"})

In [23]:
df1.head()

,FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DANO VEHICULO,PUNTO DE IMPACTO,ANO,MES,DIA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE
0,D00001,22.7685068,-102.5678956,98000,*EP 2 Boulevard Adolfo López Mateos,CERRADA DE CASA BLANCA,COLISION Y/O VUELCO,Camión,BLANCO,2016,Bajo,NA,2018,1,11,JUEVES,15,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,11/01/2018
1,D00002,25.6473508,-100.1401324,67277,AMERICA 65,BALCONES DE ZINDARO,COLISION Y/O VUELCO,Camión,BLANCO,2009,Sin daño,Costado izq trasero,2018,1,25,JUEVES,10,NUEVO LEÓN,JUAREZ,25/01/2018
2,D00003,20.6799172,-103.3686565,44600,AV MEXICO,2 RIOS,COLISION Y/O VUELCO,Auto,BLANCO,2005,Sin daño,Trasero,2018,1,15,LUNES,9,NUEVO LEÓN,GUADALUPE,15/01/2018
3,D00004,25.7180268,-100.2499903,66480,Avenida Conductores,Conductores Infonavit,COLISION Y/O VUELCO,Auto,GRIS,2016,Sin daño,Frontal,2018,1,19,VIERNES,9,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,19/01/2018
4,D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajimalpa,HUELGAS Y ALBOROTOS,Auto,NEGRO,2016,Medio,NA,2018,1,3,MIERCOLES,16,NUEVO LEÓN,MONTERREY,03/01/2018