In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [5]:
df = pd.read_csv('../data/datlas.csv')

In [6]:
df.head()

,"FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DAÑO VEHICULO,PUNTO DE IMPACTO,AÑO,MES,DÍA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE",Unnamed: 1,Unnamed: 2
0,"D00001,22.7685068,-102.5678956,98000,*EP 2 Bou...",NaN,NaN
1,"D00002,25.6473508,-100.1401324,67277,AMERICA 6...",NaN,NaN
2,"D00003,20.6799172,-103.3686565,44600,AV MEXICO...",NaN,NaN
3,"D00004,25.7180268,-100.2499903,66480,Avenida C...",NaN,NaN
4,"D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajim...",NaN,NaN