In [32]:
import pandas as pd
import numpy as np

In [33]:
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
%matplotlib inline

In [35]:
df = pd.read_csv('../data/datlas.csv')

In [72]:
df.head()

,"FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DAÑO VEHICULO,PUNTO DE IMPACTO,AÑO,MES,DÍA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE",Unnamed: 1,Unnamed: 2
0,"D00001,22.7685068,-102.5678956,98000,*EP 2 Bou...",NaN,NaN
1,"D00002,25.6473508,-100.1401324,67277,AMERICA 6...",NaN,NaN
2,"D00003,20.6799172,-103.3686565,44600,AV MEXICO...",NaN,NaN
3,"D00004,25.7180268,-100.2499903,66480,Avenida C...",NaN,NaN
4,"D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajim...",NaN,NaN

### Reformatting data

In [85]:

df1 = pd.DataFrame([ x.split(',') for x in df['FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DAÑO VEHICULO,PUNTO DE IMPACTO,AÑO,MES,DÍA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE'].tolist() ])

In [86]:
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,D00001,22.7685068,-102.5678956,98000,*EP 2 Boulevard Adolfo López Mateos,CERRADA DE CASA BLANCA,COLISION Y/O VUELCO,Camión,BLANCO,2016,Bajo,NA,2018,1,11,JUEVES,15,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,11/01/2018
1,D00002,25.6473508,-100.1401324,67277,AMERICA 65,BALCONES DE ZINDARO,COLISION Y/O VUELCO,Camión,BLANCO,2009,Sin daño,Costado izq trasero,2018,1,25,JUEVES,10,NUEVO LEÓN,JUAREZ,25/01/2018
2,D00003,20.6799172,-103.3686565,44600,AV MEXICO,2 RIOS,COLISION Y/O VUELCO,Auto,BLANCO,2005,Sin daño,Trasero,2018,1,15,LUNES,9,NUEVO LEÓN,GUADALUPE,15/01/2018
3,D00004,25.7180268,-100.2499903,66480,Avenida Conductores,Conductores Infonavit,COLISION Y/O VUELCO,Auto,GRIS,2016,Sin daño,Frontal,2018,1,19,VIERNES,9,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,19/01/2018
4,D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajimalpa,HUELGAS Y ALBOROTOS,Auto,NEGRO,2016,Medio,NA,2018,1,3,MIERCOLES,16,NUEVO LEÓN,MONTERREY,03/01/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116006,D116012,25.7459303,-100.3601517,64330,tlatelolco,unidad habitacional morelos,COLISION Y/O VUELCO,Auto,vino /dora,2003,Sin daño,Costado der trasero,2016,12,29,JUEVES,19,NUEVO LEÓN,MONTERREY,29/12/2016
116007,D116013,25.6589181,-100.371243,66220,RIO DE LA PLATA 565,del Valle,COLISION Y/O VUELCO,Auto,AZUL,2006,Sin daño,Cofre,2016,1,30,SABADO,15,NUEVO LEÓN,GARZA GARCIA,30/01/2016
116008,D116014,25.7683457,-102.9855043,27810,AVESTRUZ 1111,VALLE DE SANTO DOMINGO,COLISION Y/O VUELCO,Auto,NEGRO,0,\N,,2016,6,24,VIERNES,17,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,24/06/2016
116009,D116015,17.9530855,-93.0258556,86283,Calle Modesto Arreola Ote,Buena Vista Río Nuevo 2da Secc,COLISION Y/O VUELCO,Auto,GRIS,0,\N,,2016,8,12,VIERNES,18,NUEVO LEÓN,MONTERREY,12/08/2016
116010,D116016,25.6926697,-100.2453149,67130,Avenida Las Américas,América,COLISION Y/O VUELCO,Camión,Mod 2015,2012,Sin daño,Trasero,2016,12,24,SABADO,19,NUEVO LEÓN,GUADALUPE,24/12/2016

In [87]:
df1 = df1.rename(columns={0: "FOLIO_ID", 1: "LAT", 2: "LONG", 3: "CODIGO POSTAL", 4: "CALLE", 5: "COLONIA", 6: "CAUSA SINIESTRO", 7: "TIPO VEHICULO", 8: "COLOR", 9: "MODELO_VEHICULO", 10: "NIVEL DANO VEHICULO", 11: "PUNTO DE IMPACTO", 12: "ANO", 13: "MES", 14: "DIA NUMERO", 15: "DIA", 16: "HORA", 17: "ESTADO", 18: "CIUDAD_APROXIMADA", 19: "DATE"})

In [88]:
df1.head()

,FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DANO VEHICULO,PUNTO DE IMPACTO,ANO,MES,DIA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE
0,D00001,22.7685068,-102.5678956,98000,*EP 2 Boulevard Adolfo López Mateos,CERRADA DE CASA BLANCA,COLISION Y/O VUELCO,Camión,BLANCO,2016,Bajo,NA,2018,1,11,JUEVES,15,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,11/01/2018
1,D00002,25.6473508,-100.1401324,67277,AMERICA 65,BALCONES DE ZINDARO,COLISION Y/O VUELCO,Camión,BLANCO,2009,Sin daño,Costado izq trasero,2018,1,25,JUEVES,10,NUEVO LEÓN,JUAREZ,25/01/2018
2,D00003,20.6799172,-103.3686565,44600,AV MEXICO,2 RIOS,COLISION Y/O VUELCO,Auto,BLANCO,2005,Sin daño,Trasero,2018,1,15,LUNES,9,NUEVO LEÓN,GUADALUPE,15/01/2018
3,D00004,25.7180268,-100.2499903,66480,Avenida Conductores,Conductores Infonavit,COLISION Y/O VUELCO,Auto,GRIS,2016,Sin daño,Frontal,2018,1,19,VIERNES,9,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,19/01/2018
4,D00005,19.2663028,-99.3317914,\N,UBERP3,Cuajimalpa,HUELGAS Y ALBOROTOS,Auto,NEGRO,2016,Medio,NA,2018,1,3,MIERCOLES,16,NUEVO LEÓN,MONTERREY,03/01/2018

In [89]:
df1.describe()

,FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DANO VEHICULO,PUNTO DE IMPACTO,ANO,MES,DIA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE
count,116011,116011,116011,116011,116011,116004,116004,116004,116004,116004,116004,116004,116004,116004,116004,116004,116004,116004,116004,116003
unique,116011,84842,85521,858,47748,20652,7,6,2745,66,6,15,3,12,31,7,24,1,98,911
top,D57540,0,0,0,Avenida Eugenio Garza Sada,Monterrey Centro,COLISION Y/O VUELCO,Auto,BLANCO,2012,Bajo,Trasero,2016,5,4,VIERNES,14,NUEVO LEÓN,MONTERREY,04/05/2017
freq,1,9602,9602,9481,949,4216,113861,86795,32366,9802,58360,25915,54728,12538,4233,19410,8845,116004,48738,439

In [90]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116011 entries, 0 to 116010
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FOLIO_ID             116011 non-null  object
 1   LAT                  116011 non-null  object
 2   LONG                 116011 non-null  object
 3   CODIGO POSTAL        116011 non-null  object
 4   CALLE                116011 non-null  object
 5   COLONIA              116004 non-null  object
 6   CAUSA SINIESTRO      116004 non-null  object
 7   TIPO VEHICULO        116004 non-null  object
 8   COLOR                116004 non-null  object
 9   MODELO_VEHICULO      116004 non-null  object
 10  NIVEL DANO VEHICULO  116004 non-null  object
 11  PUNTO DE IMPACTO     116004 non-null  object
 12  ANO                  116004 non-null  object
 13  MES                  116004 non-null  object
 14  DIA NUMERO           116004 non-null  object
 15  DIA                  116004 non-null  object
 16  HORA                 116004 non-null  object
 17  ESTADO               116004 non-null  object
 18  CIUDAD_APROXIMADA    116004 non-null  object
 19  DATE                 116003 non-null  object
dtypes: object(20)
memory usage: 17.7+ MB

### Recomendable tirar todos los datos que contienen coordenadas invalidas

In [91]:
df_test = df1

In [92]:
# Creating Polynomial regression of degree n
def drop_value(df_input, column, val):
    indexNames = df_input[df_input[column] == val].index
    # Delete these row indexes from dataFrame
    df_input.drop(indexNames, inplace=True)

In [68]:
# Get names of indexes for which column Age has value 30
indexNames = df1[df1['LAT'] == '0'].index
# Delete these row indexes from dataFrame
df1.drop(indexNames, inplace=True)

In [119]:
drop_value(df_test, 'LAT', '0')
drop_value(df_test, 'LAT', '')
drop_value(df_test, 'CODIGO POSTAL', '\\N')
drop_value(df_test, 'PUNTO DE IMPACTO', 'NA')

In [120]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102911 entries, 1 to 116010
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FOLIO_ID             102911 non-null  object
 1   LAT                  102911 non-null  object
 2   LONG                 102911 non-null  object
 3   CODIGO POSTAL        102911 non-null  object
 4   CALLE                102911 non-null  object
 5   COLONIA              102905 non-null  object
 6   CAUSA SINIESTRO      102905 non-null  object
 7   TIPO VEHICULO        102905 non-null  object
 8   COLOR                102905 non-null  object
 9   MODELO_VEHICULO      102905 non-null  object
 10  NIVEL DANO VEHICULO  102905 non-null  object
 11  PUNTO DE IMPACTO     102905 non-null  object
 12  ANO                  102905 non-null  object
 13  MES                  102905 non-null  object
 14  DIA NUMERO           102905 non-null  object
 15  DIA                  102905 non-null  object
 16  HORA                 102905 non-null  object
 17  ESTADO               102905 non-null  object
 18  CIUDAD_APROXIMADA    102905 non-null  object
 19  DATE                 102904 non-null  object
dtypes: object(20)
memory usage: 16.5+ MB

In [121]:
df_test = df_test[df_test['CODIGO POSTAL'].apply(lambda x: str(x).isnumeric())]

In [122]:
pd.to_numeric(df_test2['CODIGO POSTAL'], errors='coerce').notnull().all()

True

In [123]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102911 entries, 1 to 116010
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FOLIO_ID             102911 non-null  object
 1   LAT                  102911 non-null  object
 2   LONG                 102911 non-null  object
 3   CODIGO POSTAL        102911 non-null  object
 4   CALLE                102911 non-null  object
 5   COLONIA              102905 non-null  object
 6   CAUSA SINIESTRO      102905 non-null  object
 7   TIPO VEHICULO        102905 non-null  object
 8   COLOR                102905 non-null  object
 9   MODELO_VEHICULO      102905 non-null  object
 10  NIVEL DANO VEHICULO  102905 non-null  object
 11  PUNTO DE IMPACTO     102905 non-null  object
 12  ANO                  102905 non-null  object
 13  MES                  102905 non-null  object
 14  DIA NUMERO           102905 non-null  object
 15  DIA                  102905 non-null  object
 16  HORA                 102905 non-null  object
 17  ESTADO               102905 non-null  object
 18  CIUDAD_APROXIMADA    102905 non-null  object
 19  DATE                 102904 non-null  object
dtypes: object(20)
memory usage: 16.5+ MB

In [124]:
df_test[10:30]

,FOLIO_ID,LAT,LONG,CODIGO POSTAL,CALLE,COLONIA,CAUSA SINIESTRO,TIPO VEHICULO,COLOR,MODELO_VEHICULO,NIVEL DANO VEHICULO,PUNTO DE IMPACTO,ANO,MES,DIA NUMERO,DIA,HORA,ESTADO,CIUDAD_APROXIMADA,DATE
14,D00015,25.6471756,-100.1801611,67193,Avenida Eloy Cavazos,Jardines de Andalucía,COLISION Y/O VUELCO,Auto,NEGRO,2009,Medio,Trasero,2018,1,1,LUNES,4,NUEVO LEÓN,GUADALUPE,01/01/2018
15,D00016,25.6471756,-100.1801611,67193,Avenida Eloy Cavazos,Jardines de Andalucía,COLISION Y/O VUELCO,Auto,NEGRO,2009,Medio,Trasero,2018,1,1,LUNES,4,NUEVO LEÓN,GUADALUPE,01/01/2018
16,D00017,25.7146072,-100.2629428,66490,Avenida Roberto Garza Sada,Constituyentes de Querétaro Sect 2,COLISION Y/O VUELCO,Auto,AZUL METALICO,2000,Bajo,Frontal,2018,1,1,LUNES,5,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,01/01/2018
17,D00018,25.4929933,-100.186855,67303,Carretera Nacional,EL RANCHITO,COLISION Y/O VUELCO,Auto,ROJO,1998,Bajo,Costado der trasero,2018,1,1,LUNES,9,NUEVO LEÓN,SANTIAGO,01/01/2018
18,D00019,25.7284757,-100.3336269,64250,Pablo Hernández,FERROCARRILERA,COLISION Y/O VUELCO,Auto,BLANCO,2015,Bajo,Costado izq delantero,2018,1,1,LUNES,9,NUEVO LEÓN,MONTERREY,01/01/2018
19,D00020,25.7626931,-100.4124534,64346,Prolongación Ruiz Cortines,Real de Cumbres,COLISION Y/O VUELCO,Auto,BLANCO,2013,Sin daño,Costado izq delantero,2018,1,1,LUNES,10,NUEVO LEÓN,MONTERREY,01/01/2018
20,D00021,25.7168737,-100.1919619,67169,Mexico,Los Faisanes Sector el Dorado,COLISION Y/O VUELCO,Auto,PLATA,2008,Bajo,Trasero,2018,1,1,LUNES,10,NUEVO LEÓN,GUADALUPE,01/01/2018
21,D00022,26.5,-100.183333,65200,NIÑOS HEROES,Centro de Sabinas Hidalgo,COLISION Y/O VUELCO,Camión,BLANCO,2016,Medio,Costado izq delantero,2018,1,1,LUNES,10,NUEVO LEÓN,SABINAS HIDALGO,01/01/2018
22,D00023,25.735529,-100.2891312,66460,SAN FRANCISCO NUM 153,ARBOLEDAS DE SAN JORGE,COLISION Y/O VUELCO,Auto,ROJO,2012,Bajo,Cofre,2018,1,1,LUNES,10,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,01/01/2018
23,D00024,25.693515,-100.29671,64550,2a. de San Francisco,REFORMA,COLISION Y/O VUELCO,Auto,ROJO,2004,Bajo,Costado izq trasero,2018,1,1,LUNES,11,NUEVO LEÓN,MONTERREY,01/01/2018
24,D00025,25.7075446,-100.1610191,66647,Patricia,Fracc Pinceles,COLISION Y/O VUELCO,Auto,GUINDA,2006,Sin daño,Tapa cajuela,2018,1,1,LUNES,12,NUEVO LEÓN,APODACA,01/01/2018
25,D00026,25.7238079,-100.3525404,64330,JULIA VILLAREAL 4510,DEL MAESTRO,COLISION Y/O VUELCO,Auto,GRIS,2004,Bajo,Trasero,2018,1,1,LUNES,13,NUEVO LEÓN,MONTERREY,01/01/2018
26,D00027,25.6869616,-100.3332625,64480,Calle Tomás Alva Edison,Talleres,COLISION Y/O VUELCO,Auto,ROJO,2007,Bajo,Costado der delantero,2018,1,1,LUNES,14,NUEVO LEÓN,MONTERREY,01/01/2018
27,D00028,25.656287,-100.185844,67169,PABLO LIVAS,Rincon de Guadalupe,COLISION Y/O VUELCO,Auto,ROJO,2016,Bajo,Trasero,2018,1,1,LUNES,16,NUEVO LEÓN,GUADALUPE,01/01/2018
28,D00029,25.2720126,-100.0140784,67350,CARRETERA NACIONAL,Eduardo A Elizondo,COLISION Y/O VUELCO,Auto,NEGRO,2017,Bajo,Frontal,2018,1,1,LUNES,16,NUEVO LEÓN,ALLENDE,01/01/2018
29,D00030,25.7489281,-100.3010387,66424,CALLE UNIVERSIDAD DE TAMAULIPAS NO. 200,COL. VILLA UNIVERSIDAD,COLISION Y/O VUELCO,Auto,GRIS,2008,Bajo,Costado der delantero,2018,1,1,LUNES,16,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,01/01/2018
30,D00031,24.8489886,-99.5729532,67778,La Gloria,NIÑOS HEROES,COLISION Y/O VUELCO,Auto,ARENA,1994,Medio,Frontal,2018,1,1,LUNES,19,NUEVO LEÓN,LINARES,01/01/2018
31,D00032,24.8489886,-99.5729532,67778,La Gloria,NIÑOS HEROES,COLISION Y/O VUELCO,Auto,ARENA,1994,Medio,Frontal,2018,1,1,LUNES,19,NUEVO LEÓN,LINARES,01/01/2018
32,D00033,25.7614332,-100.2553523,66636,Pino,LA ENRAMADA,COLISION Y/O VUELCO,Auto,GRIS,2002,Bajo,Cofre,2018,1,1,LUNES,19,NUEVO LEÓN,APODACA,01/01/2018
33,D00034,25.757096,-100.2655903,66438,Montes Berneses,HEROES DE MEXICO,COLISION Y/O VUELCO,Auto,BLANCO,2016,Bajo,Frontal,2018,1,1,LUNES,19,NUEVO LEÓN,SAN NICOLAS DE LOS GARZA,01/01/2018